<div class="container">
	<h3>Edit page meta data</h3>
</div>
<div class="container well">
	<form id="edit-page-form" role="form" class="">
		<div class="form-group">
		    <label for="link" >URL</label>
			<input id="pageLink" 
				type="text" 
				placeholder="Url"  
				ng-model="page.url" 
				class="form-control" 
				ng-disabled='true'/>
		</div>

		<div class="form-group">
		    <label for="title" >Title</label>
			<input id="title" 
				type="text" 
				placeholder="Title" 
				class="form-control" 
				ng-model="page.title"/>
		</div>

		<div class="form-group">
		    <label for="keywords" >Keywords</label>
			<input id="keywords" 
			type="text" 
			placeholder="keywords" 
			class="form-control" 
			ng-model="page.keywords"/>
		</div>
		
		<div class="form-group">
		    <label for="description" >Description</label>
			<input id="description" type="text" placeholder="Description" class="form-control" ng-model="page.description"/>
		</div>

		<div class="form-group">
			<button type="text" 				
					class="btn btn-primary" 
					ng-click="updatePage()"> 
					Save 
			</button>
			<button type="text" 				
				class="btn" 
				back-button> 
				Back 
			</button>
		</div>
	</form>
</div>